* {
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    border: solid 8px blueviolet;
    border-bottom: rgb(66, 3, 88) solid 10px;
    border-top: rgb(66, 3, 88) solid 10px;
    color: blueviolet;
    background-color: rgb(222, 215, 215);
    font-size: calc(16px + 1vh);
    text-align: center;
}
article {
    margin-top: 6rem;
}
h1 {
    padding: 1px 20px;
    color: blueviolet;
}
div.main-info {
    min-height: 100vh;
    padding: 10px 10px;
    margin: 0 3px;
    border: 2px solid grey;
    background-color: silver;
}
p {
    width: auto;   
    max-width: 100vw;
    padding: 10px 10px;
    margin: 12px 5px;
    font-size: calc(16px + 1vh);
    color: blueviolet;
    text-align: center;
}
figcaption {
    border: solid 5px;
    color:blueviolet;
}
img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
#title {
    font-size: 2em;
    font-weight: bold;
}
figure {
    position:relative;
    margin: 0;
}
figcaption {
    position: absolute;
    width: 100%;
    /* max-width: 500px; */
    padding: 1rem;
    bottom: 200px;
    background-color: silver;
    text-align: center;
}