* {
    box-sizing: border-box;
    padding: 0;
}
body {
    font: 700 120%/1.5 'Cormorant SC', serif;
    background-color: black;
}
header {
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    border: solid 8px blueviolet;
    border-bottom: rgb(66, 3, 88) solid 10px;
    border-top: rgb(66, 3, 88) solid 10px;
    margin-bottom: 1rem;
    background-color: rgb(222, 215, 215);
    background: linear-gradient( 0deg, silver 40%,  rgb(93, 6, 120) 110%);
    color: blueviolet;
    font-size: 1.2rem;
    text-align: center;
    text-shadow: 3px 4px 4px #000;
}
.main-header {
    display: flex;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
.main-nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: .3rem .5rem;
}
#title {
    padding: 10px 10px;
    font-size: 2em;
    font-weight: bold;
}
li {
    min-width: 150px;
    border: solid 8px black;
    border-bottom: rgb(66, 3, 88) solid 6px;
    border-top: rgb(66, 3, 88) solid 6px;
    border-radius: 5px;
    margin:0.1rem .1rem;
    background: radial-gradient(circle, purple, black);
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 4px 6px #000;
}
main {
    hyphens: auto;
}
article {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
h1 {
    padding: 1px 20px;
    color: blueviolet;
    letter-spacing: .7rem;
}
.div-1 {
    background-color:white;
}
.col {
    min-height: 100vh;
    padding: 10px 10px;
    margin: 0 30px;
    margin-bottom: 1rem;
    border: 2px solid grey;
    background-color: silver;
}
p {
    width: auto;   
    max-width: 100vw;
    padding: 10px 10px;
    margin: 12px 5px;
    font-size: calc(16px + 1vh);
    color: blueviolet;
}
img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto; 
}
#weapon-choice {
    max-width: 60%;
    padding: 1rem;
    border: 3px solid blueviolet;
    margin: 2rem 1.3rem;
    margin-bottom: 2rem;
    margin-left: 20%;
    background: rgb(66, 3, 88);
    color: white;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(239, 198, 248);
    box-shadow: 0 0 20px 10px white;
}
.starter-class {
    position: sticky;
    z-index: 3;
    top: 0;
    padding: 12px 15px;
    border: 5px solid blueviolet;
    border-radius: 0 0 15px 15px;
    background:rgb(66, 3, 88);
    color: white;
    font-size: 1.5rem;
    text-align: center;
    text-shadow: 3px 3px 4px rgb(239, 198, 248);
    font-weight: bold;
}
#dark-knight-pic {
    background: linear-gradient(silver 0%, rgb(93, 6, 120) 90%),
    url(https://glamours.eorzeacollection.com/101123/cecil-harvey-og-dark-knight-sprite-0-1626924290.png) no-repeat center  silver;
    background-blend-mode: hard-light;
}
a {
    color: rgb(118, 78, 154);
    text-decoration: none;
    margin: 0 auto;
}
a:hover {
    color: white;
    transition: .2s;
}
figure {
    position:relative;
    z-index: 2;
    margin: 0;
}
figcaption {
    position: sticky;
    width: 100%;
    padding: 1rem;
    border: solid 5px;
    bottom: 200px;
    color:blueviolet;
    background-color: silver;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
}
figcaption::after {
    content: '\21D1';
    display: block;
    font-size: 3rem;
}
footer {
    padding: 10px;
    margin-top: -30px;
    color: white;
    text-align: center;
}
@media print {
    div.main-info {
        min-height: auto;
    }
}
@media screen and (min-width: 900px), (orientation: portrait) {
    body {
        background: radial-gradient(circle, rgb(120, 9, 161), black);
    }
}
@media screen and (max-width: 360px) {
    h1 {
    letter-spacing : .4rem;
    }
}
@media screen and (max-width: 675px) {
    .main-nav, .main-header {
        flex-direction: column;
    }
    .main-nav {
        display: block;
    }
}
@media screen and (min-width: 675px) and (max-width: 942px) {
    .main-header {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    .col-container {
        display: flex;
    }
    .col {
        flex: 1;
    }
    .div-2 {
        order: -1;
    }
    .starter-class {
        z-index: 0;
    }
    li {
        min-width: 200px;
    }
    article {
        display: flex;
    }
    
}
@media screen and (min-width: 942px) {
    .main-header {
        flex-direction: row;
        justify-content: space-between;
    }
    
}